---
export interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
  heroImage: {
    src: string;
    alt: string;
  };
}

const { title, description, heroImage, publishDate, url } = Astro.props as Props;
---

<a href={url}>
  <div class="flex flex-col xl:flex-row xl:justify-between items-stretch w-full rounded-2xl border border-polarnight100 bg-polarnight80 hover:bg-polarnight100 hover:border-snowstorm100">
    <article class="flex-1 pl-12 pr-16 pt-8 pb-12">
      <p class="text-snowstorm100 text-lg font-semibold mb-6">{publishDate}</p>
      <h1 class="text-3xl font-semibold mb-2">{title}</h1>
      <p class="text-xl">{description}</p>
    </article>
    <img class="w-full xl:max-w-[33%] rounded-r-2xl" src={heroImage.src} alt={heroImage.alt} />
  </div>
</a>
