---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		publishDate: string;
		heroImage?: {
			src: string;
			alt: string;
		};
	};
}

const {
	content: { title, description, publishDate, heroImage },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="w-3/4 md:w-2/3 lg:w-1/2 mx-auto pb-24 bg-polarnight100 text-snowstorm60">
		<Header />
		<article class="pt-4">
			<header>
				<h1 class="mx-8 mt-1 text-4xl font-bold">{title}</h1>
				<p class="mx-8 text-lg font-medium text-frost80">{publishDate}</p>
        <div class="-mx-24 my-16">
          {heroImage && (
            <img
              class="w-full"
              loading="lazy"
              src={heroImage.src}
              alt={heroImage.alt}
            />
          )}
        </div>
			</header>
			<main class="text-lg text-snowstorm100">
				<slot></slot>
			</main>
		</article>
	</body>
</html>
